In [1]:
2+2

4

In [2]:
print("hello")

hello

In [3]:
print('hello world')

hello world

In [61]:
# let's create a float and a string
x= 7
y = 5.4
z = 'hello'

In [7]:
print(z, x+y)

hello 7.4

In [9]:
# math operations
print("addition: ", x+y)
print("subtraction: ", x-y)
print("division: ",x/y)
print("multiplication: ", x*y)
print("exponentation: ", x**y)
print("floor division (drops remainder): ", x//y)
print("remainder: ", x%y)

addition:  7.4
subtraction:  -3.4000000000000004
division:  0.37037037037037035
multiplication:  10.8
exponentation:  42.22425314473263
floor division (drops remainder):  0.0
remainder:  2.0

In [17]:
#be careful not to overwrite a function
print = 6

In [18]:
#because then you cannot use the function
print(x+1)

TypeError: 'int' object is not callable

In [19]:
del print # if you do it by accident, simply delete the variable

In [21]:
print (x+1)

3

In [36]:
list1 = [1,3,4,6,7]

In [37]:
#append attribute only available for list. Cannot apply to another object such as an integer
list1.append(3)

In [38]:
print(list1)

[1, 3, 4, 6, 7, 3]

In [40]:
list1.count(3)

2

In [42]:
list1.insert(1,5)
print(list1)

[1, 5, 5, 3, 4, 6, 7, 3]

In [44]:
#slicing a list based on index position
list1[1]

5

In [47]:
# slice all values from position 1 up to but not including, position 4
list1[1:4]

[5, 5, 3]

In [49]:
list1[-1]

3

In [51]:
# isolate values starting at the 4th last position, up to, but not including, the last value
list1[-4:-1]

[4, 6, 7]

In [53]:
list1[-1:-4] # we cannot isolate right to left, only left to right

[]

In [55]:
list1[0] == list1[-8] #the first position is equal to the 8th last position in this case

True

In [57]:
True + 5 # True has a value of 1

6

In [59]:
False - 3 # False has a value of 0

-3

In [63]:
x==7 # a single equal sign is used to define a variable; 2 equal signs check for equivalence

True

In [65]:
x < 5 # less-than

False

In [67]:
print (x >=7) # greater than or equal to
print (x <=9) # less than or equal to

True
True

In [69]:
#some more list operations
list1.index(4) #the index function will only identify the 1st instance of a value

4

In [71]:
list1.extend([3,7,8,9,0])

In [73]:
list1

[1, 5, 5, 3, 4, 6, 7, 3, 3, 7, 8, 9, 0, 3, 7, 8, 9, 0]

In [75]:
#define the list first
list2 = [8,7,67,8]

In [77]:
#extend with the pre-defined list
list1.extend(list2)

In [79]:
list1

[1,
 5,
 5,
 3,
 4,
 6,
 7,
 3,
 3,
 7,
 8,
 9,
 0,
 3,
 7,
 8,
 9,
 0,
 8,
 7,
 67,
 8,
 8,
 7,
 67,
 8]

In [81]:
list1.pop(-1)

67

In [83]:
list1

[1, 5, 5, 3, 4, 6, 7, 3, 3, 7, 8, 9, 0, 3, 7, 8, 9, 0, 8, 7, 67, 8, 8, 7]

In [85]:
list1.remove(3) #find first value of 3 and remove it from the list

In [87]:
list1

[1, 5, 5, 4, 6, 7, 3, 7, 8, 9, 0, 3, 7, 8, 9, 0, 8, 7, 67, 8, 8, 7]

In [89]:
list3 = list1 #both variable name "list3" and "list1" will refer to the same object

In [91]:
list3.append([89,76]) # if we make a change to list3, it will also change list1. If you dont want to include the [], use extend and will remove the [] in the list

In [93]:
list3

[1,
 5,
 5,
 4,
 6,
 7,
 3,
 7,
 8,
 9,
 0,
 3,
 7,
 8,
 9,
 0,
 8,
 7,
 67,
 8,
 8,
 7,
 [89, 76],
 [89, 76]]

In [94]:
list1

[1,
 5,
 5,
 4,
 6,
 7,
 3,
 7,
 8,
 9,
 0,
 3,
 7,
 8,
 9,
 0,
 8,
 7,
 67,
 8,
 8,
 7,
 [89, 76],
 [89, 76]]

In [96]:
list3.remove([89,76])

In [97]:
list3

[1, 5, 5, 4, 6, 7, 3, 7, 8, 9, 0, 3, 7, 8, 9, 0, 8, 7, 67, 8, 8, 7]

In [98]:
list1

[1, 5, 5, 4, 6, 7, 3, 7, 8, 9, 0, 3, 7, 8, 9, 0, 8, 7, 67, 8, 8, 7]

In [102]:
list3=list1.copy()

In [103]:
list3.remove(7)

In [104]:
list3

[1, 5, 5, 4, 6, 3, 7, 8, 9, 0, 3, 7, 8, 9, 0, 8, 7, 67, 8, 8, 7]

In [105]:
list1

[1, 5, 5, 4, 6, 7, 3, 7, 8, 9, 0, 3, 7, 8, 9, 0, 8, 7, 67, 8, 8, 7]

In [106]:
list1.reverse()

In [107]:
list1

[7, 8, 8, 67, 7, 8, 0, 9, 8, 7, 3, 0, 9, 8, 7, 3, 7, 6, 4, 5, 5, 1]

In [108]:
list3.sort() #sort values from smallest to largest

In [109]:
list3

[0, 0, 1, 3, 3, 4, 5, 5, 6, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 67]

In [110]:
list3.sort(reverse=True) #set in descending order. The sort is in-place--> Meaning permanent change. 
list3

[67, 9, 9, 8, 8, 8, 8, 8, 7, 7, 7, 7, 6, 5, 5, 4, 3, 3, 1, 0, 0]

In [112]:
sorted(list3) #temporary change

[0, 0, 1, 3, 3, 4, 5, 5, 6, 7, 7, 7, 7, 8, 8, 8, 8, 8, 9, 9, 67]

In [113]:
list3 #Still at the permanent change

[67, 9, 9, 8, 8, 8, 8, 8, 7, 7, 7, 7, 6, 5, 5, 4, 3, 3, 1, 0, 0]

In [114]:
#tuple has round brackets and is immutable object
tuple1=(1,7,8,9,0,87,6,8)

In [115]:
tuple1.count(8)

2

In [116]:
tuple1.index(8) #to find the position of number 8

2

In [117]:
#in a list, we can change a value, in a tuple we cannot
list1[0] = 7

In [118]:
tuple1[0] = 7 # will get a type error

TypeError: 'tuple' object does not support item assignment

In [3]:
#End of week1